* {
  font-family: "Playfair Display", serif;
  font-size: 14px;
  color: #626262;
  line-height: 24px;
}

.wrapper {
  width: 900px;
  margin: 0 auto;
}

.nav-menu {
  list-style: none;
  padding-inline-start: 0px;
  display: block;
  text-align: center;
  margin: 0px auto;
  font-size: 0px;
  margin-top: 72px;
  margin-bottom: 98px;
}

.nav-menu li {
  display: inline-block;
  margin: 0 auto;
  font-size: 14px;
  text-transform: uppercase;
  color: #626262;
}

.nav-menu li:nth-child(1) {
  width: 71px;
  margin-right: 120px;
}

.nav-menu li:nth-child(2) {
  width: 88px;
  margin-right: 100px;
}

.nav-menu li:nth-child(3) {
  width: 44px;
  margin-right: 95px;
}

.nav-menu li:nth-child(4) {
  width: 52px;
  margin-right: 0px;
}

.nav-menu li a {
  text-decoration: none;
}

.nav-menu li a:hover,
.nav-menu li a:focus {
  color: #03a9f4;
}

.content {
  font-size: 0px;
  margin-bottom: 55px;
}

.info-block {
  display: inline-block;
  box-sizing: border-box;
  width: 420px;
  height: 480px;
  margin: 0px 60px 130px 0px;
}

.info-block img {
  display: block;
  width: 100%;
  height: auto;
}

.info-block:nth-of-type(2n) {
  margin-right: 0px;
}

.info-block:nth-last-of-type(-n + 2) {
  margin-bottom: 0px;
}

.name-of-photo {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 17px;
  color: #b4ad9e;
  margin-top: 30px;
}

.article-headline {
  font-size: 30px;
  line-height: 36px;
}

.button {
  display: block;
  background-color: white;
    border: 1px solid;
    font-size: 20px;
    padding: 20px 35px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 70px;
  cursor: pointer;
}
