* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "roboto", sans-serif;
  letter-spacing: -0.02em;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.logo {
  float: left;
  margin-top: 36px;
  margin-bottom: 30px;
}

.logo a {
  text-decoration: none;
  font-weight: 300;
  font-size: 30px;
  line-height: 32px;
  color: #555252;
  text-transform: uppercase;
}

.logo::first-letter {
  font-weight: 900;
  color: #1abc9c;
}

.navigation {
  float: right;
}

.navigation ul {
  list-style: none;
}

.navigation-item {
  float: left;
  margin: 43px 32px 38px 0px;
}

.navigation-item:last-child {
  margin-right: 0px;
}

.navigation-item a {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #0f0101;
  text-transform: uppercase;
}

.navigation-item a:hover,
.navigation-item a:focus {
  color: #1abc9c;
}

main {
  background-color: #e9f0fd;
}

.slider {
  position: relative;
  max-width: 100%;
  display: inline-block;
  font-size: 0px;
}

.slider img {
  object-fit: cover;
  max-width: 100%;
  height: auto;
}

.darken {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 2, 0.52);
  display: none;
}

.slider-container {
  position: relative;
}

.slider:hover .darken {
  display: block;
}

.arrow-to-left,
.arrow-to-right {
  display: inline-block;
  border: none;
  cursor: pointer;
  background-color: rgba(78, 198, 171, 0.65);
  height: 104px;
  width: 104px;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

.arrow-to-left {
  background-image: url(../icons/arrow-left.png);
  left: 15%;
}

.arrow-to-right {
  background-image: url(../icons/arrow-right.png);
  right: 15%;
}

.arrow-to-left:hover,
.arrow-to-left:focus,
.arrow-to-right:hover,
.arrow-to-right:focus {
  background-color: rgba(78, 198, 171, 1);
}

.slider-list {
  list-style: none;
}

.slider-name {
  font-weight: 900;
  font-size: 60px;
  text-transform: uppercase;
  line-height: 82px;
  position: absolute;
  top: 37%;
  left: 27%;
  z-index: 3;
}

.slider-content {
  font-weight: 300;
  font-size: 24px;
  text-transform: uppercase;
  line-height: 54px;
  position: absolute;
  top: 50%;
  left: 27%;
  z-index: 4;
}

.slider-name,
.slider-content {
  color: #ffffff;
}

.section-name {
  display: block;
  font-weight: 900;
  font-size: 48px;
  color: #515151;
  text-transform: uppercase;
  text-align: center;
  margin-top: 102px;
  margin-bottom: 120px;
}

.section-name::after {
  content: "";
  display: block;
  height: 7px;
  width: 164px;
  background-color: #1abc9c;
  margin: 20px auto 0;
}

.collection {
  list-style: none;
  font-size: 0px;
}

.collection-item {
  display: inline-block;
  width: 255px;
  margin-right: 30px;
  margin-bottom: 100px;
}

.collection-item a {
  text-decoration: none;
  display: inline-block;
}

.collection-item:last-child {
  margin-right: 0px;
}

.product-image {
  position: relative;
}

.name-price {
  background-color: #323232;
}

.name,
.price {
  font-weight: 900;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 32px;
  color: #ffffff;
  padding-top: 5px;
}

.name {
  width: 201px;
  height: 40px;
  padding-left: 13px;
  float: left;
}

.price {
  width: 54px;
  height: 40px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.44);
  float: right;
}

.hov {
  /* display: none; */
  height: 261px;
  width: 235px;
  background-color: rgba(0, 0, 0, 0.55);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

.icons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 6;
}

.like,
.share,
.time,
.bin {
  display: inline-block;
  background-color: transparent;
  border: solid #ffffff;
  border-width: 1px;
  height: 50px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.like,
.share,
.time {
  width: 50px;
  background-position: center;
  margin-right: 8px;
  margin-bottom: 8px;
}

.bin {
  display: block;
  width: 166px;
  background-color: #323232;
  background-image: url(../icons/bin.png);
  background-position: 13px;
  font-family: "open-sans", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 32px;
  color: #ffffff;
  padding-left: 50px;
}

.like {
  background-image: url(../icons/like.png);
}

.share {
  background-image: url(../icons/share.png);
}

.time {
  background-image: url(../icons/time.png);
  margin-right: 0px;
}

.visually-hidden {
  display: none;
}

.like:hover,
.like:focus,
.share:hover,
.share:focus,
.time:hover,
.time:focus,
.bin:hover,
.bin:focus {
  background-color: #1abc9c;
  border-color: #1abc9c;
}

.collection-item:hover .name-price,
.collection-item:focus .name-price {
  background-color: #1abc9c;
}

.collection-item:hover .hov,
.collection-item:focus .hov {
  display: block;
}

footer {
  background-color: #323232;
  text-align: center;
}

.footer-content {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  line-height: 28px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer-content cite {
  font-style: normal;
}

.designer-name {
  color: #46bfa9;
}
