.first-screen {
    height: 1000px;
    background-image: linear-gradient(
      to bottom,
      rgba(243, 129, 129, 0.9),
      rgba(252, 227, 128, 0.9)
    ),
    url(../images/slider-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to bottom,
        rgba(243, 129, 129, 0.9),
        rgba(252, 227, 128, 0.9)
      ),
      url(../img/slider/slider-background@2x.jpg);
  }
}