* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  margin: 0 auto;
  width: 1110px;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

.logo a {
  color: #555252;
  text-decoration: none;
}

.logo {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 30px;
  color: #555252;
  line-height: 32px;
  text-transform: uppercase;
  margin-top: 36px;
  margin-bottom: 105px;
  float: left;
}

.logo::first-letter {
  font-weight: 900;
  color: #1abc9c;
}

.navigation {
  float: right;
}

.navigation ul {
  list-style: none;
}

.navigation li {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  margin-right: 32px;
  padding-top: 9px;
  margin-top: 36px;
  margin-bottom: 105px;
  float: left;
}

.navigation li a {
  color: #0f0101;
  text-decoration: none;
}

.navigation li a:hover,
.navigation li a:focus {
  color: #1abc9c;
}

.navigation li:last-child {
  margin-right: 0px;
}

.list {
  list-style: none;
}

.section-name {
  display: block;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 48px;
  color: #555252;
  text-transform: uppercase;
  margin-bottom: 90px;
}

.section-name::after {
  display: block;
  width: 164px;
  height: 7px;
  background-color: #1abc9c;
  content: "";
  margin: 20px auto 0;
}

.product {
  float: left;
  width: 255px;
  margin-right: 29px;
  margin-bottom: 30px;
}

.product:nth-child(4n) {
  margin-right: 0px;
}

.product:nth-last-child(-n + 4) {
  margin-bottom: 100px;
}

.product a {
  display: inline-block;
  font-size: 0px;
}

.product-image {
  text-align: center;
  background-color: #e8effc;
  width: 255px;
  height: 282px;
  line-height: 282px;
}

.product-image img {
  vertical-align: middle;
}

.name-price {
  background-color: #323232;
}

.name,
.price {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 32px;
  font-weight: 900;
  text-transform: uppercase;
  color: white;
  padding-top: 4px;
}

.name {
  width: 201px;
  height: 40px;
  float: left;
  padding-left: 13px;
  text-align: left;
}

.price {
  width: 54px;
  height: 40px;
  float: right;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.44);
}

.product:hover .name-price,
.product:focus .name-price {
  background-color: #1abc9c;
}

.news-item {
  width: 350px;
  margin-right: 29px;
  margin-bottom: 82px;
  float: left;
}

.news-item:last-child {
  margin-right: 0px;
}

.news-title {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #555252;
  line-height: 26px;
  margin-top: 4px;
  margin-bottom: 25px;
}

.news-title::after {
  display: block;
  width: 136px;
  height: 3px;
  background-color: #1abc9c;
  content: "";
  margin-top: 12px;
}

.news-content {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #555252;
  line-height: 26px;
  margin-bottom: 12px;
}

.news-button {
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  font-weight: 300;
  font-size: 16px;
  color: #ffffff;
  line-height: 26px;
  padding: 12px 42px;
  background-color: #4ec6ab;
  border: 0px;
  border-radius: 3px;
  cursor: pointer;
}
